{% extends 'base.html' %}

{% block content %}  
<div class="container-fluid" style="background-image: url('static/images/revolution.jpg');background-repeat: no-repeat;background-size:100% 100%;color: white;text-align: left;height: 550px;">
  <div class="row">
      <div class="col-lg-6" style="left:20px;top:120px;">
        <h3 style="color:#31B0D5">Objectives</h3>
        <ul style="font-size: 25px;">
          <li>To spread awareness about social and political issues</li>
          <li>To involve in social welfare activities</li>
          <li>To work for the protection of wildlife</li>
        </ul>
    </div>
  </div>
</div>
{% endblock content %}

